[submodule "luajit2"]
	path = luajit2
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = v2.1
[submodule "modules/lrexlib"]
	path = modules/lrexlib
	url = https://github.com/rrthomas/lrexlib
[submodule "modules/luafilesystem"]
	path = modules/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem
[submodule "modules/luajit-tz"]
	path = modules/luajit-tz
	url = https://github.com/peersuasive/luajit-tz
